@import url(https://64.media.tumblr.com/5913f38090826131674615d2549c4b68/tumblr_pn87xr9yrM1tx8nwe_1280.jpg);
@import url(https://i.pinimg.com/564x/74/23/08/7423085c6e2933a6b5c173a71a407e9a.jpg);
body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-image: url(https://64.media.tumblr.com/5913f38090826131674615d2549c4b68/tumblr_pn87xr9yrM1tx8nwe_1280.jpg);
    background-position: center;
    text-align: center;
    padding: 40px;
}

h1, h2{
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    border: 2px dotted #dedbdb75;
    border-radius: 3px;
    text-shadow: 5px 5px 5px white;
}

main {
    height: 100vh;
    background-image: url(https://i.pinimg.com/564x/74/23/08/7423085c6e2933a6b5c173a71a407e9a.jpg);
    background-position: center;
    text-align: center;
}
.container {
    text-align: center;
    padding-top: 20px;
}

#lista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #b49c8b66;
    border: 2px solid #8d7461;
    margin: 10px;
    width: 520px;
    border-radius: 10px;
    font-size: medium;
}

.taskItem, button {
    color: #8d7461d4;
}

#bottone {
    background-color: #8d7461;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#testo {
    background-color: #bfbab4;
    color: white;
    font-size: medium;
    border: 2px solid #8d7461;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin-right: 10px;
}

footer{
    background-image: url(https://64.media.tumblr.com/5913f38090826131674615d2549c4b68/tumblr_pn87xr9yrM1tx8nwe_1280.jpg);
    text-align: center;
    padding: 40px;
}

footer, i, a{
    color: black;
}